/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */

body {
    font-family: Helvetica, sans-serif;
}

h2 {
    font-size: 0.9rem;
}

img {
    width: 100%;
}

i {
    cursor: pointer;
}

/* MAIN */
header {
    width: 100%;
    height: calc(100vh - 85vh);
    background-color: #419788;
}

#wrapper {
    background-color: #dbdbd2;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* columns container*/
main {
    background-color: white;
    height: 100%;
    width: 80%;
    display: flex;
    position: absolute;
    top: 5%;
}

/* col sx img */
.header-sx {
    height: 60px;
    padding: 10px 16px;
    color: black;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-user {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
}

.header-user img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.header-user p {
    font-size: 16px;
    margin-left: 16px;
}

/* col sx icone */
.header-function {
    display: flex;
    height: 40px;
    width: 40px;
    padding: 8px;
}

.header-function i {
    color: #B1B1B1;
    padding: 5px;
    height: 25px;
    width: 25px;
}

/* area notifiche */
.notice-container {
    display: flex;
    align-items: center;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1rem;
    background-color: #8edafb;
}

.bell-circle-container {
    padding: 0.8rem;
    color: #8edafb;
    background-color: white;
    border-radius: 50%;
    margin-right: 1rem;
}

.notice-text a {
    font-size: 0.7rem;
    font-weight: 500;
    color: gray;
}

/* search bar */
.chats-search {
    height: 49px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box {
    background-color: white;
    height: 35px;
    width: 94%;
    padding-top: 2px;
    display: flex;
    align-items: center;
}

.search-button {
    border: 0;
    margin-left: 12px;
    background-color: white;
    color: #828689;
    cursor: pointer;
}

.search-box input {
    color: #d4d5d7;
    font-weight: 500;
    border: 0;
    height: 30px;
    font-size: 15px;
    width: 70%;
    margin-left: 30px;
    font-size: 13px;

}

.search-button i {
    color: gray;
}

/* chats bar */

.contact-list-box {
    width: 100%;
    overflow-y: auto;
    height: 70%;
}

.single-contact {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: white;
    cursor: pointer;
    border-bottom: 1px solid #eaeaea;
}

.single-contact.active {
    background-color: #f0f0f0;
}

.contact-image {
    width: 50px;
}

.contact-image img {
    border-radius: 50%;
}

.contact-text {
    margin-left: 1rem;
}

/* colonna chat dx */

/* header dx */

.header-dx {
    width: 100%;
    height: 60px;
    padding: 10px 16px;
    color: black;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-user-pic-dx {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
}

.header-user-pic-dx img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.user-text-dx h4 {
    font-size: 16px;
    margin-bottom: 0;


}

.user-text-dx {
    text-align: start;
    margin-top: 17px;
    margin-right: 400px;
}

.user-text-dx p {
    font-size: 10px;
    color: gray;
}

/* col dx icone */

.header-function {
    display: flex;
    height: 40px;
    width: 40px;
    padding: 8px;
}

.header-function i {
    color: #B1B1B1;
    padding: 5px;
    height: 25px;
    width: 25px;
}

/* chat window */
.chat-window {
    width: 100%;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
    height: calc(100% - 116px);
    flex-grow: 1;
    overflow-y: auto;
}

/* messaggi della chat */
.msg-container {
    width: fit-content;
    padding: 1rem;
    max-width: 50%;
    border-radius: 1rem;
    margin: 1rem 3rem;
}

.msg-container:first-child {
    margin-top: 3rem;
}

.msg-container.received-msg {
    align-self: flex-start;
    background-color: #ffffff;
}

.msg-container.sent-msg {
    align-self: flex-end;
    background-color: #caecb1;
}

.msg-box {
    position: relative;
}

.sending-time p {
    font-size: 0.5rem;
    position: absolute;
    right: 0;
    color: gray;
}

/* imput message bar */

.send-message {
    width: 100%;
    display: flex;
    align-items: center;
    ;
    padding: 0.5rem 0;
    background-color: #f3eeea;
}

.input-text {
    width: 80%;
    height: 2.5rem;

}

.input-text input {
    height: 2.5rem;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
}

.send-message .reactions,
.mic-open {
    text-align: center;
    width: 10%;
    cursor: pointer;
    color: #6a7376;
}

.send-message i {
    font-size: 1.5rem;
}